body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: #373A3C;
}

/* NAVBAR */

nav h1 {
    font-weight: bold;
    font-size: 1.8rem;
}

nav .navbar-nav {
    font-weight: 400;
    font-size: 1.2rem;
}

nav .navbar-nav a {
    margin-right: 1rem;
}

/* HEADER */

header img {
    width: 100%;
}

/* ABOUT */

.about h2 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.about hr {
    width: 8%;
    border-bottom: #373A3C solid 1pt;
    
}

.about p {
    font-size: 1rem;
}

/* EXPERIENCE */

.experience h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

.experience hr {
    width: 7%;
    border-bottom: #373A3C solid 1pt;
}

.experience img{
    width: 50%;
}

/* WORK */

.work img {
    width: 100%;
}

.work hr {
    width: 20%;
    border-bottom: #ffffff solid 1pt;
}

.carousel-indicators li {
    width: 2rem;
    height: 1rem;
}

.carousel-indicators li.active {
    background-color: #ffffff;
}

.carousel-indicators li {
    background-color: #7a7a7a;
    margin-bottom: -2rem;
}

/* CONTACT */

.contact {
    padding-bottom: 5rem;
}

.contact h2 {
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;

}

.contact hr {
    width: 5%;
    border-bottom: #373A3C solid 1pt;

}

/* FOOTER */


footer i {
    padding-left: 1rem;
}

footer h2 {

    font-weight: bold;
}

footer a {
    color: white;
}


